<a href="https://colab.research.google.com/github/Tommaso879/BigDataMining/blob/main/HW1_Ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
openjdk-8-jdk-headless is already the newest version (8u422-b05-1~22.04).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

In [3]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from pyspark.sql import SparkSession

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os

print(os.getcwd())  # This will print the current working directory
print(os.listdir())  # This will list all files and directories

os.chdir('/content/drive/MyDrive/Data/HW1/EX1')

/content
['.config', 'drive', 'sample_data']

In [6]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
#sc.stop()  #required if a context already exists and you want to re-run he cell
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()
# create the Spark Context
sc = spark.sparkContext

data = spark.read.text("soc-LiveJournal1Adj.txt")

In [7]:
spark

Load the datasets:

In [8]:
data.printSchema()

root
 |-- value: string (nullable = true)

Check the schema:

In [9]:
data.take(3)

[Row(value='0\t1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94'),
 Row(value='1\t0,5,20,135,2409,8715,8932,10623,12347,12846,13840,13845,14005,20075,21556,22939,23520,28193,29724,29791,29826,30691,31232,31435,32317,32489,34394,35589,35605,35606,35613,35633,35648,35678,38737,43447,44846,44887,49226,49985,623,629,4999,6156,13912,14248,15190,17636,19217,20074,27536,29481,29726,29767,30257,33060,34250,34280,34392,34406,34418,34420,34439,34450,34651,45054,49592'),
 Row(value='2\t0,117,135,1220,2755,12453,24539,24714,41456,45046,49927,6893,13795,16659,32828,41878')]

In [10]:
data.show()

+--------------------+
|               value|
+--------------------+
|0\t1,2,3,4,5,6,7,...|
|1\t0,5,20,135,240...|
|2\t0,117,135,1220...|
|3\t0,12,41,55,153...|
|4\t0,8,14,15,18,2...|
|5\t0,1,20,2022,22...|
|6\t0,21,98,2203,3...|
|7\t0,31993,40218,...|
|8\t0,4,38,46,72,8...|
|9\t0,6085,18972,1...|
|10\t0,12,16,30,60...|
|11\t0,1754,6027,7...|
|12\t0,3,10,16,29,...|
|13\t0,12584,32064...|
|14\t0,4,19,19079,...|
|       15\t0,4,27,80|
|16\t0,10,12,18,30...|
|17\t0,19,26,28,95...|
|18\t0,4,16,30,89,...|
|19\t0,14,17,439,1...|
+--------------------+
only showing top 20 rows

In [11]:
print("in total there are {0} people" .format(data.count()))

in total there are 49995 people

In [12]:
split_df = data.select(
    split(data['value'], '\t').getItem(0).alias('user'),
    split(data['value'], '\t').getItem(1).alias('friends')
)


split_df.show(truncate=False)

+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user|friends                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0   |1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94                                                                                                                                                                                                                                                                         |
|1   |0,5,20,135,2409,8715,8932,10623,12347,12846,13840,13845,14005,20075,21556,22939,23520,28193,29724,29791,29826,30691,31232,31435,32317,32489,34394,35589,35605,35606,35613,35633,35648,35678,38737,43447,44846,44887,49226,49985,623,629,4999,6156,13912,14248,15190,17636,19217,20074,27536,29481,29726,29767,30257,33060,34250,34280,34392,34406,34418,34420,34439,34450,34651,45054,49592                                                                                                                                                              |
|2   |0,117,135,1220,2755,12453,24539,24714,41456,45046,49927,6893,13795,16659,32828,41878                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|3   |0,12,41,55,1532,12636,13185,27552,38737                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
|4   |0,8,14,15,18,27,72,80,15326,19068,19079,24596,42697,46126,74,77,33269,38792,38822                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
|5   |0,1,20,2022,22939,23527,30257,32503,35633,41457,43262,44846,49574,31140,32828                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|6   |0,21,98,2203,3238,5040,8795,9843,9847,15294,17874,18286,18311,18320,20553,35699,35776,38736,38750,38800,543,575,11879,12682,14943,15283,18332,18560,18625,25247,33080,34412,35785,35822,42231                                                                                                                                                                                                                                                                                                                                                            |
|7   |0,31993,40218,40433,1357,21843                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|8   |0,4,38,46,72,85,24777,83,33380                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|9   |0,6085,18972,19269                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|10  |0,12,16,30,6027,13793,23557,29581,35477,35617,44310                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
|11  |0,1754,6027,7789,11142,12633,17898,19049,22486,26970,27554,27585,27591,27679,29576,32631,34906,41444                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|12  |0,3,10,16,29,38,41,55,1085,1532,7714,27679,29379,35195,38737,43121,30,83,85,89,13285,27655                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
|13  |0,12584,32064,27,37,111,129,274,1383,1600,2141,7284,9172,13207,16519,18122,19051,23525,25177,30071,32045,33439,35589,39022,44412,44575,47887                                                                                                                                                                                                                                                                                                                                                                                                             |
|14  |0,4,19,19079,42697,444,42748                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
|15  |0,4,27,80                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
|16  |0,10,12,18,30,38,89,12570,19044,29319,35477,53,83,9745,15520,19010,30062,31337                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|17  |0,19,26,28,95,128,134,150,6157,7284,12570,20016,20533,20599,42704,49678,53,29872,31337,31347,44505                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|18  |0,4,16,30,89,2406,2411,12562                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
|19  |0,14,17,439,1100,1694,1705,2413,2644,2646,2659,2678,3734,3926,7463,9892,10240,13076,18163,19388,20290,23202,23512,25195,25239,25256,26887,27736,27808,29260,35585,44824,47445,49678,50,543,623,627,1001,1234,1343,2019,2062,2142,2324,2648,3131,3298,3573,3574,3748,3895,3931,4990,4993,5170,5487,5490,5588,5685,6995,7718,8703,8706,8768,9289,9735,10175,11399,11416,12313,12680,13661,13829,13849,13951,14070,14160,14182,15186,15356,16027,17235,17438,18075,18147,18148,18338,18977,19358,19427,19430,19983,20070,20283,20557,21822,21873,22357,22520|
+----+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [13]:
# Split friends string by comma and explode into individual rows
exploded_df = split_df.withColumn("friend", explode(split(col("friends"), ",")))

# Cast user and friend columns to integer types
exploded_df = exploded_df.select(col("user").cast("int"), col("friend").cast("int"))

# Show the exploded DataFrame
exploded_df.show(truncate=False)

+----+------+
|user|friend|
+----+------+
|0   |1     |
|0   |2     |
|0   |3     |
|0   |4     |
|0   |5     |
|0   |6     |
|0   |7     |
|0   |8     |
|0   |9     |
|0   |10    |
|0   |11    |
|0   |12    |
|0   |13    |
|0   |14    |
|0   |15    |
|0   |16    |
|0   |17    |
|0   |18    |
|0   |19    |
|0   |20    |
+----+------+
only showing top 20 rows

In [14]:
# Self-join to find friends of friends
friends_of_friends = exploded_df.alias("df1").join(
    exploded_df.alias("df2"),
    col("df1.friend") == col("df2.user")
).select(
    col("df1.user").alias("user"),
    col("df2.friend").alias("friend_of_friend")
)

# Show friends of friends
friends_of_friends.show(truncate=False)

+----+----------------+
|user|friend_of_friend|
+----+----------------+
|0   |49592           |
|0   |45054           |
|0   |34651           |
|0   |34450           |
|0   |34439           |
|0   |34420           |
|0   |34418           |
|0   |34406           |
|0   |34392           |
|0   |34280           |
|0   |34250           |
|0   |33060           |
|0   |30257           |
|0   |29767           |
|0   |29726           |
|0   |29481           |
|0   |27536           |
|0   |20074           |
|0   |19217           |
|0   |17636           |
+----+----------------+
only showing top 20 rows

In [15]:
# Filter out the friends who are already direct friends
filtered_result = friends_of_friends.join(
    exploded_df,
    (friends_of_friends.user == exploded_df.user) & (friends_of_friends.friend_of_friend == exploded_df.friend),
    how="left_anti"
)

# Show the final result
filtered_result.show(truncate=False)

+----+----------------+
|user|friend_of_friend|
+----+----------------+
|0   |49592           |
|0   |45054           |
|0   |34651           |
|0   |34450           |
|0   |34439           |
|0   |34420           |
|0   |34418           |
|0   |34406           |
|0   |34392           |
|0   |34280           |
|0   |34250           |
|0   |33060           |
|0   |30257           |
|0   |29767           |
|0   |29726           |
|0   |29481           |
|0   |27536           |
|0   |20074           |
|0   |19217           |
|0   |17636           |
+----+----------------+
only showing top 20 rows

In [16]:
filtered_result = filtered_result.filter(col("user") != col("friend_of_friend"))

In [17]:
# Check for duplicates by grouping by user and friend_of_friend
duplicates_check = filtered_result.groupBy("user", "friend_of_friend").count()

# Show entries with more than one occurrence (which means duplicates exist)
duplicates_check.filter(col("count") > 1).show(truncate=False)

+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|0   |337             |3    |
|0   |343             |2    |
|0   |352             |3    |
|0   |543             |2    |
|0   |623             |2    |
|0   |1532            |3    |
|0   |2644            |2    |
|0   |6027            |2    |
|0   |6169            |2    |
|0   |7284            |2    |
|0   |9745            |2    |
|0   |10506           |2    |
|0   |12143           |3    |
|0   |12561           |3    |
|0   |12636           |2    |
|0   |13285           |2    |
|0   |15520           |2    |
|0   |16514           |2    |
|0   |18591           |4    |
|0   |19051           |2    |
+----+----------------+-----+
only showing top 20 rows

In [18]:
requesedUserID = input("Enter the user ID: ")
print("here's the result for user ", requesedUserID)
result = duplicates_check.select("user", "friend_of_friend", "count").filter(col("user") == requesedUserID)
result = result.sort(col("count").desc(), col("friend_of_friend").asc())
result.limit(10).show(truncate=False)

expected_result = [[27552,7785,27573,27574,27589,27590,27600,27617,27620,27667]]
print("here's the expected result")
print(expected_result)

Enter the user ID: 11
here's the result for user  11
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|11  |27552           |4    |
|11  |7785            |3    |
|11  |27573           |3    |
|11  |27574           |3    |
|11  |27589           |3    |
|11  |27590           |3    |
|11  |27600           |3    |
|11  |27617           |3    |
|11  |27620           |3    |
|11  |27667           |3    |
+----+----------------+-----+

here's the expected result
[[27552, 7785, 27573, 27574, 27589, 27590, 27600, 27617, 27620, 27667]]

In [19]:
wanted_values = [8997, 2791, 4985, 8961, 4049, 5060, 739, 1724, 9550, 3151]

for i in wanted_values:
  print("here's the result for user ", i)
  result = duplicates_check.select("user", "friend_of_friend", "count").filter(col("user") == i)
  result = result.sort(col("count").desc(), col("friend_of_friend").asc())
  result.limit(10).show(truncate=False)

here's the result for user  8997
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|8997|8998            |4    |
|8997|8987            |3    |
|8997|8992            |2    |
|8997|9001            |2    |
|8997|9003            |2    |
|8997|9009            |2    |
|8997|4849            |1    |
|8997|7174            |1    |
|8997|7279            |1    |
|8997|7364            |1    |
+----+----------------+-----+

here's the result for user  2791
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|2791|21185           |5    |
|2791|8783            |4    |
|2791|13280           |4    |
|2791|18359           |4    |
|2791|18363           |4    |
|2791|23667           |4    |
|2791|35740           |4    |
|2791|2204            |3    |
|2791|2786            |3    |
|2791|5996            |3    |
+----+----------------+-----+

here's the result for user  4985
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|4985|79              |1    |
|4985|577             |1    |
|4985|4839            |1    |
|4985|4984            |1    |
|4985|4986            |1    |
|4985|4987            |1    |
|4985|4988            |1    |
|4985|4989            |1    |
|4985|4990            |1    |
|4985|4991            |1    |
+----+----------------+-----+

here's the result for user  8961
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|8961|12241           |10   |
|8961|8973            |9    |
|8961|8965            |8    |
|8961|8963            |7    |
|8961|8966            |7    |
|8961|8967            |6    |
|8961|7174            |5    |
|8961|8969            |5    |
|8961|12243           |5    |
|8961|7177            |4    |
+----+----------------+-----+

here's the result for user  4049
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|4049|4871            |5    |
|4049|4875            |3    |
|4049|4889            |3    |
|4049|8492            |3    |
|4049|8685            |3    |
|4049|439             |2    |
|4049|660             |2    |
|4049|1100            |2    |
|4049|1137            |2    |
|4049|1156            |2    |
+----+----------------+-----+

here's the result for user  5060
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|5060|5052            |2    |
|5060|5057            |2    |
|5060|5086            |2    |
|5060|14271           |2    |
|5060|98              |1    |
|5060|364             |1    |
|5060|575             |1    |
|5060|596             |1    |
|5060|611             |1    |
|5060|622             |1    |
+----+----------------+-----+

here's the result for user  739
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|739 |732             |7    |
|739 |367             |6    |
|739 |381             |5    |
|739 |336             |4    |
|739 |21526           |4    |
|739 |28064           |4    |
|739 |677             |3    |
|739 |704             |3    |
|739 |728             |3    |
|739 |736             |3    |
+----+----------------+-----+

here's the result for user  1724
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|1724|1711            |8    |
|1724|1663            |7    |
|1724|1712            |7    |
|1724|1718            |7    |
|1724|1662            |6    |
|1724|1697            |6    |
|1724|1700            |6    |
|1724|1715            |6    |
|1724|1716            |6    |
|1724|1658            |5    |
+----+----------------+-----+

here's the result for user  9550
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|9550|9554            |3    |
|9550|9533            |2    |
|9550|9544            |2    |
|9550|9558            |2    |
|9550|153             |1    |
|9550|1220            |1    |
|9550|1421            |1    |
|9550|1436            |1    |
|9550|1951            |1    |
|9550|2413            |1    |
+----+----------------+-----+

here's the result for user  3151
+----+----------------+-----+
|user|friend_of_friend|count|
+----+----------------+-----+
|3151|3161            |4    |
|3151|43162           |4    |
|3151|3230            |3    |
|3151|3450            |3    |
|3151|8692            |3    |
|3151|161             |2    |
|3151|2036            |2    |
|3151|3136            |2    |
|3151|3137            |2    |
|3151|3162            |2    |
+----+----------------+-----+